---
layout: default
---
<div class="project">
	<h1>{{ page.title }}</h1>
	<p class="project-meta">
		{% if (page.tags.size > 0 %}
			<span class="tags">
				{{ page.tags | array_to_sentence_string }}
			</span> |
		{% endif %}
		<span class="project-date">
			{{ page.date | date: "%b %-d, %Y" }}
		</span>
	</p>
	<div class="project">
		{{ content }}
	</div>
</div>

<div class="project-footer">
	<div class="column-1">
		{% if page.previous %}
			<a href="{{page.previous.url | prepend: site.baseurl | prepend: site.url }}"><< Older</a>
		{% else %}
			<span><< Older</span>
		{% endif %}
	</div>
	<div class="column-2"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }} ">Home</a></div>
	<div class="column-3">
		{% if page.next %}
			<a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">Newer >></a>
		{% else %}
			<span>Newer >></span>
		{% endif %}
	</div>
</div>
